version: '2'
services:
  influxdb:
    image: influxdb
    entrypoint:
      - /opt/rancher/init.sh
    environment:
      - INFLUX_DATABASE="rancherInfra"
    labels:
      io.rancher.container.pull_image: always
      io.rancher.sidekicks: influxdb-config
    volumes_from:
      - influxdb-config
  influxdb-config:
    image: husseingalal/influxdb-config:dev
    volumes:
      - /opt/rancher
    labels:
      io.rancher.container.pull_image: always
      io.rancher.container.start_once: true
  fluentd:
    image: husseingalal/fluentd-influxdb:dev
    ports:
    - 127.0.0.1:24224:24224/tcp
    labels:
      io.rancher.container.pull_image: always
      io.rancher.scheduler.global: 'true'
  logspout-fluentd:
    image: husseingalal/logspout-rancher:0.1.0
    labels:
      io.rancher.container.pull_image: always
      io.rancher.scheduler.global: 'true'
    environment:
      - ROUTE_URIS="fluentd-rancher://fluentd:24224"
  log-dashboard:
    image: husseingalal/rancher-log-dashboard:0.1.0
    environment:
      INFLUX_HOST: influxdb
      INFLUX_PORT: '8086'
      INFLUX_DB: rancherInfra
    stdin_open: true
    tty: true
    ports:
    - 5000:5000/tcp
    command:
    - -debug
    labels:
      io.rancher.container.pull_image: always
